{% load common_tags %}
{% load admin_urls %}
{{ request.build_absolute_uri }}

<ul>
    {% for node in nodes %}
        {% if node.url == request.path %}
            <details open="">
        {% else %}
            <details>
        {% endif %}

        {% if node.parent is None or prevision_node == node.parent %}
            <summary><a href="{{node.url}}">{{ node.name_item }}</a></summary>
        {% endif %}
        {% if node.children is not Note %}
            {% draw_menu name_menu nodes=node.children.all prevision_node=node %}
        {% endif %}
        </details>

    {% endfor %}
</ul>
